<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="crud.css">
</head>

<body>

  <div class="main-page">


    <h1 id="tatle"> Product table </h1>

    <table id="main-table">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Date Added</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <td data-label="Product ID"><input type="text" value="001"></td>
        <td data-label="Product Name"><input type="text" value="Gold Necklace"></td>
        <td data-label="Price"><input type="text" value="$150.00"></td>
        <td data-label="Category"><input type="text" value="Necklaces"></td>
        <td data-label="Quantity"><input type="text" value="10"></td>
        <td data-label="Date Added"><input type="text" value="2024-11-08"></td>
        <td data-label="Image"><img src="tools/imgs/gold.jpeg" alt="Gold Necklace"></td>
        <tr>
          <td data-label="Product ID"><input type="text" value="001"></td>
          <td data-label="Product Name"><input type="text" value="Gold Necklace"></td>
          <td data-label="Price"><input type="text" value="$150.00"></td>
          <td data-label="Category"><input type="text" value="Necklaces"></td>
          <td data-label="Quantity"><input type="text" value="10"></td>
          <td data-label="Date Added"><input type="text" value="2024-11-08"></td>
          <td data-label="Image"><img src="tools/imgs/gold.jpeg" alt="Gold Necklace"></td>

        </tr>
        <tr>
          <td data-label="Product ID"><input type="text" value="001"></td>
          <td data-label="Product Name"><input type="text" value="Gold Necklace"></td>
          <td data-label="Price"><input type="text" value="$150.00"></td>
          <td data-label="Category"><input type="text" value="Necklaces"></td>
          <td data-label="Quantity"><input type="text" value="10"></td>
          <td data-label="Date Added"><input type="text" value="2024-11-08"></td>
          <td data-label="Image"><img src="tools/imgs/gold.jpeg" alt="Gold Necklace"></td>

        </tr>
        <tr>
          <td data-label="Product ID"><input type="text" value="001"></td>
          <td data-label="Product Name"><input type="text" value="Gold Necklace"></td>
          <td data-label="Price"><input type="text" value="$150.00"></td>
          <td data-label="Category"><input type="text" value="Necklaces"></td>
          <td data-label="Quantity"><input type="text" value="10"></td>
          <td data-label="Date Added"><input type="text" value="2024-11-08"></td>
          <td data-label="Image"><img src="tools/imgs/gold.jpeg" alt="Gold Necklace"></td>

        </tr>
        <tr>
          <td data-label="Product ID"><input type="text" value="001"></td>
          <td data-label="Product Name"><input type="text" value="Gold Necklace"></td>
          <td data-label="Price"><input type="text" value="$150.00"></td>
          <td data-label="Category"><input type="text" value="Necklaces"></td>
          <td data-label="Quantity"><input type="text" value="10"></td>
          <td data-label="Date Added"><input type="text" value="2024-11-08"></td>
          <td data-label="Image"><img src="tools/imgs/gold.jpeg" alt="Gold Necklace"></td>
        </tr>
      </tbody>
    </table>

  </div>
  <script src="crud.js"></script>
</body>

</html>